/dts-v1/;
#include <st/g4/stm32g474Xe.dtsi>
#include <st/g4/stm32g474r(b-c-e)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Autotrainer Pellet Module";
	compatible = "cerebellumlab,pellet-module";

	chosen {
		zephyr,console = &lpuart1;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,canbus = &fdcan3;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";

		status_led: led_1 {
			gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
			label = "STATUS_LED";
			status = "okay";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		ext_button_1: ext_button_1 {
			label = "Ext Button 1";
			gpios = <&gpioa 0 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};

		door_sensor_1: door_sensor_1 {
			label = "Door Closed 1";
			gpios = <&gpioc 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			zephyr,code = <INPUT_KEY_5>;
			status = "okay";
		};

		door_sensor_2: door_sensor_2 {
			label = "Door Closed 2";
			gpios = <&gpioc 14 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			zephyr,code = <INPUT_KEY_6>;
			status = "okay";
		};

		door_sensor_3: door_sensor_3 {
			label = "Door Closed 3";
			gpios = <&gpioc 15 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			zephyr,code = <INPUT_KEY_7>;
			status = "okay";
		};
	};

	generic-gpios {
		status = "okay";
		compatible = "ll,generic-gpios";
		input-gpios = <&gpioc 4 GPIO_ACTIVE_LOW>,  // CAN_ID[0] / NodeNumber[0]
					  <&gpioc 5 GPIO_ACTIVE_LOW>,  // CAN_ID[1] / NodeNumber[1]
					  <&gpiob 0 GPIO_ACTIVE_HIGH>, // CAN_ID[2] / DeviceType[0]
					  <&gpiob 1 GPIO_ACTIVE_HIGH>; // CAN_ID[3] / DeviceType[1]
		input-gpio-names = "CAN_ID[0]",
						   "CAN_ID[1]",
						   "CAN_ID[2]",
						   "CAN_ID[3]";
		input-gpio-interrupt-enable = "DISABLE", "DISABLE", "DISABLE", "DISABLE";
		output-gpios = <&gpiob 11 GPIO_ACTIVE_HIGH>, // STIM0
					   <&gpiob 12 GPIO_ACTIVE_HIGH>, // STIM1
					   <&gpiob 13 GPIO_ACTIVE_HIGH>, // STIM2
					   <&gpiob 14 GPIO_ACTIVE_HIGH>; // STIM3
		output-gpio-names = "STIM0",
						    "STIM1",
						    "STIM2",
						    "STIM3";
		output-gpio-interrupt-enable = "DISABLE", "DISABLE", "DISABLE", "DISABLE";
	};

	tone_generator {
		compatible = "ll,tone-generator";
		status = "okay";

		sample-rate-timer = <&timers2>;
		dac = <&dac1>;
		dac-channel = <1>;
		dmas = <&dmamux1 6 6 STM32_DMA_PRIORITY_HIGH>;
		dma-names = "tx";
		enable-gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
	};

	analog_out: analog_out {
		compatible = "ll,analog-out";
		status = "okay";
		io-channels = <&dac2 1>;
		resolution = <12>;
	};

	rgb_led: rgb-led {
		compatible = "pwm-leds";
		status = "okay";

		red_pwm_led: red_pwm_led {
			pwms = <&pwm3 2 PWM_MSEC(10) PWM_POLARITY_NORMAL>;	// channel #, not entry # in the pwm list in pwm3
			label = "red";
		};
		
		green_pwm_led: green_pwm_led {
			pwms = <&pwm4 1 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
			label = "green";
		};
		
		blue_pwm_led: blue_pwm_led {
			pwms = <&pwm4 2 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
			label = "blue";
		};
	};

	aliases {
		led0 = &status_led;
		mcuboot-led0 = &status_led;
		watchdog0 = &iwdg;
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
	hse-bypass;
};

&pll {
	div-m = <2>;
	mul-n = <85>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(170)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&lpuart1 {
	pinctrl-0 = <&lpuart1_tx_pc1 &lpuart1_rx_pc0>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&dma1 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&timers3 {
	st,prescaler = <84>; // 170 MHz / (84 + 1) = 2 MHz
	status = "okay";

	pwm3: pwm {
		status = "okay";
		pinctrl-0 = <&tim3_ch2_pb5>;
		pinctrl-names = "default";
	};
};

&timers4 {
  st,prescaler = <84>; // 170 MHz / (84 + 1) = 2 MHz
  status = "okay";

  pwm4: pwm {
    status = "okay";
    pinctrl-0 = <&tim4_ch1_pb6  &tim4_ch2_pb7>;
    pinctrl-names = "default";
  };
};

&timers5 {
	status = "okay";
	st,prescaler = <84>; // 170 MHz / (84 + 1) = 2 MHz

	servo0: servo0 {
		compatible = "ll,servo";
		status = "okay";

		pinctrl-0 = <&tim5_ch2_pa1>;
		pinctrl-names = "default";

		pwm-channel = <2>;

		dmas = <&dmamux1 0 76 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";
	};
};

&timers15 {
	status = "okay";
	st,prescaler = <84>; // 170 MHz / (84 + 1) = 2 MHz

	servo1: servo1 {
		compatible = "ll,servo";
		status = "okay";

		pinctrl-0 = <&tim15_ch2_pb15>;
		pinctrl-names = "default";

		pwm-channel = <2>;

		dmas = <&dmamux1 1 79 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";
	};
};

&timers17 {
	status = "okay";
	st,prescaler = <84>; // 170 MHz / (84 + 1) = 2 MHz

	servo2: servo2 {
		compatible = "ll,servo";
		status = "okay";

		pinctrl-0 = <&tim17_ch1_pb9>;
		pinctrl-names = "default";

		pwm-channel = <1>;

		dmas = <&dmamux1 2 85 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";
	};
};

&timers1 {
	status = "okay";
	st,prescaler = <849>; // 170 MHz / (849 + 1) = 200 kHz

	stepper0: stepper0 {
		compatible = "ll,stepper";
		status = "okay";

		pinctrl-0 = <&tim1_ch3_pc2>;
		pinctrl-names = "default";

		// Direction Pin
		dir-gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>;

		// PWM Channel to use
		pwm-channel = <3>;

		dmas = <&dmamux1 3 46 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";

		driver-dev = <&stepper_driver0>;
		limit-switch-gpios = <&gpioa 8 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
	};
};

&timers8 {
	status = "okay";
	st,prescaler = <849>; // 170 MHz / (849 + 1) = 200 kHz

	stepper1: stepper1 {
		compatible = "ll,stepper";
		status = "okay";

		pinctrl-0 = <&tim8_ch4_pc9>;
		pinctrl-names = "default";

		// Direction Pin
		dir-gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;

		// PWM Channel to use
		pwm-channel = <4>;

		dmas = <&dmamux1 4 53 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";

		driver-dev = <&stepper_driver1>;
		limit-switch-gpios = <&gpioa 9 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
	};
};

&timers20 {
	status = "okay";
	st,prescaler = <849>; // 170 MHz / (849 + 1) = 200 kHz

	stepper2: stepper2 {
		compatible = "ll,stepper";
		status = "okay";

		pinctrl-0 = <&tim20_ch3_pc8>;
		pinctrl-names = "default";

		// Direction Pin
		dir-gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;

		// PWM Channel to use
		pwm-channel = <3>;

		dmas = <&dmamux1 5 90 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";

		driver-dev = <&stepper_driver2>;
		limit-switch-gpios = <&gpioa 10 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
	};
};

&spi3 {
	pinctrl-0 = <&spi3_nss_pa15 &spi3_sck_pc10
				 &spi3_miso_pc11 &spi3_mosi_pc12>;
	pinctrl-names = "default";
	status = "okay";

	flash1: external_flash@0 {
		status = "okay";
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <4000000>;
		size = <0x8000000>;
		has-dpd;
		t-enter-dpd = <3000>;
		t-exit-dpd = <30000>;
		jedec-id = [ef 40 15]; // For W25Q16JV

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			slot1_partition: partition@0 {
				label = "image-1";
				reg = <0x00000000 DT_SIZE_K(444)>;
			};

			scratch_partition: partition@80000 {
				label = "scratch";
				reg = <0x00080000 DT_SIZE_K(512)>;
			};

			/* Create 64Kb of storage for settings */
			storage_partition: partition@100000 {
				label = "storage";
				reg = <0x00100000 DT_SIZE_K(64)>;
			};
		};
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(64)>;
		};

		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 DT_SIZE_K(444)>;
		};

	};
};

&usb {
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		status = "okay";
	};
};

&iwdg {
	status = "okay";
};

&rng {
	status = "okay";
};

&dac1 {
	pinctrl-0 = <&dac1_out1_pa4>;
	pinctrl-names = "default";
	status = "okay";
};

&dac2 {
	pinctrl-0 = <&dac2_out1_pa6>;
	pinctrl-names = "default";
	status = "okay";
};

&die_temp {
	status = "okay";
};

&fdcan3 {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x02000000>,
			 <&rcc STM32_SRC_PCLK FDCAN_SEL(1)>;
	pinctrl-0 = <&fdcan3_rx_pb3 &fdcan3_tx_pb4>;
	pinctrl-names = "default";
	status = "okay";
};

&vref {
	status = "okay";
};

&vbat {
	status = "okay";
};

&usart2 {
	current-speed = <230400>;
	/delete-property/ hw-flow-control;
	parity = "none";
	stop-bits = "1";
	data-bits = <8>;
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	#size-cells = <0>;
	#address-cells = <1>;
	status = "okay";
	fifo-enable;

	stepper_driver0: stepper_driver0@0 {
		compatible = "adi,tmc2209";
		reg = <0x00>;
		status = "okay";
	};

	stepper_driver1: stepper_driver1@1 {
		compatible = "adi,tmc2209";
		reg = <0x01>;
		status = "okay";
	};

	stepper_driver2: stepper_driver2@2 {
		compatible = "adi,tmc2209";
		reg = <0x02>;
		status = "okay";
	};

	stepper_dummy: stepper_dummy@3 {
		// This is a dummy device, not connected on this board, for verifying
		// UART transactions via a logic analyzer if `status` is set
		// to `okay`.
		compatible = "adi,tmc2209";
		reg = <0x03>;
		status = "disabled";
	};
};

// Configure pull-downs for the stepper motor STEP pins
&tim20_ch3_pc8 {
	bias-pull-down;
};

&tim1_ch3_pc2 {
	bias-pull-down;
};

&tim8_ch4_pc9 {
	bias-pull-down;
};
