/dts-v1/;
#include <st/g4/stm32g474Xe.dtsi>
#include <st/g4/stm32g474r(b-c-e)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Autotrainer Magnet Module";
	compatible = "cerebellumlab,magnet-module";

	chosen {
		zephyr,console = &lpuart1;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,canbus = &fdcan2;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";

		status_led: led_1 {
			gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
			label = "STATUS_LED";
			status = "okay";
		};
	};

	generic-gpios {
		status = "okay";
		compatible = "ll,generic-gpios";
		input-gpios = <&gpioc 2 GPIO_ACTIVE_LOW>,  // CAN_ID[0] / NodeNumber[0]
					  <&gpioc 3 GPIO_ACTIVE_LOW>,  // CAN_ID[1] / NodeNumber[1]
					  <&gpioa 0 GPIO_ACTIVE_HIGH>, // CAN_ID[2] / DeviceType[0]
					  <&gpioa 1 GPIO_ACTIVE_HIGH>, // CAN_ID[3] / DeviceType[1]
					  <&gpioc 14 GPIO_ACTIVE_LOW>, // CONT0
					  <&gpioc 15 GPIO_ACTIVE_LOW>; // CONT1
		input-gpio-names = "CAN_ID[0]",
						   "CAN_ID[1]",
						   "CAN_ID[2]",
						   "CAN_ID[3]",
						   "CONT0",
						   "CONT1";
		input-gpio-interrupt-enable = "DISABLE", "DISABLE", "DISABLE", "DISABLE", "BOTH", "BOTH";
	};

	pressure_sensor: pressure_sensor {
		compatible = "ll,pressure-sensor";
		status = "okay";
		io-channels = <&adc1 15>;
		sample-rate = <80>;
	};

	i2s3: i2s@40003c00 {		// Address per datasheet, pg 86
		compatible = "st,stm32-i2s";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x40003c00 0x400>; 	// Address and size per datasheet, pg 86
		clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00008000>,
			 <&rcc STM32_SRC_PLL_Q I2S23_SEL(0)>;
		dmas = <&dmamux1 2 15 (STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_HIGH)>,
			<&dmamux1 3 14 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_HIGH)>;
		dma-names = "tx", "rx";
		interrupt-parent = <&nvic>;
		interrupts = <51 0>;
		pinctrl-0 = <&i2s3_ck_pc10 &i2s3_sd_pc12 &i2s3_ws_pa4>;
		pinctrl-names = "default";
		status = "okay";

		microphone: microphone@0 {
			compatible = "ll,microphone";
			status = "okay";
			reg = <0>;
			sampling-frequency = <192000>;
			channel-count = <2>;
			block-size = <128>;
		};
	};

	aliases {
		led0 = &status_led;
		mcuboot-led0 = &status_led;
		watchdog0 = &iwdg;
		i2s-mic = &i2s3;
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
	hse-bypass;
};

&pll {
	div-m = <2>;
	mul-n = <85>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(170)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&lpuart1 {
	pinctrl-0 = <&lpuart1_tx_pc1 &lpuart1_rx_pc0>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&dma1 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&timers2 {
	status = "okay";
	st,prescaler = <84>; // 170 MHz / (84 + 1) = 2 MHz

	servo0: servo0 {
		compatible = "ll,servo";
		status = "okay";

		pinctrl-0 = <&tim2_ch3_pa2>;
		pinctrl-names = "default";

		pwm-channel = <3>;

		dmas = <&dmamux1 0 60 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";
	};
};

&timers5 {
	status = "okay";
	st,prescaler = <84>; // 170 MHz / (84 + 1) = 2 MHz

	servo1: servo1 {
		compatible = "ll,servo";
		status = "okay";

		pinctrl-0 = <&tim5_ch4_pa3>;
		pinctrl-names = "default";

		pwm-channel = <4>;

		dmas = <&dmamux1 1 76 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";
	};
};

&usb {
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		status = "okay";
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pa15 &i2c1_sda_pb9>;
	pinctrl-names = "default";
	status = "okay";

	temp_sensor: temp_sensor@44 {
		compatible = "sensirion,sht3xd";
		reg = <0x44>;
		status = "okay";
	};
};

&i2c4 {
	pinctrl-0 = <&i2c4_scl_pc6 &i2c4_sda_pc7>;
	pinctrl-names = "default";
	status = "okay";

	load_cell: load_cell@2a {
		compatible = "ll,load-cell";
		reg = <0x2a>;
		adc-channel = <1>;
		ldo-voltage = "3V0";
		gain = <64>;
		conversion-rate = <80>;
		drdy-gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&i2c3 {
	pinctrl-0 = <&i2c3_scl_pc8 &i2c3_sda_pc9>;
	pinctrl-names = "default";
	status = "okay";
};

&spi2 {
	pinctrl-0 = <&spi2_nss_pb12 &spi2_sck_pb13
				 &spi2_miso_pb14 &spi2_mosi_pb15>;
	pinctrl-names = "default";
	status = "okay";

	flash1: external_flash@0 {
		status = "okay";
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <4000000>;
		size = <0x8000000>;
		has-dpd;
		t-enter-dpd = <3000>;
		t-exit-dpd = <30000>;
		jedec-id = [ef 40 15]; // For W25Q16JV

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			slot1_partition: partition@0 {
				label = "image-1";
				reg = <0x00000000 DT_SIZE_K(444)>;
			};

			scratch_partition: partition@80000 {
				label = "scratch";
				reg = <0x00080000 DT_SIZE_K(512)>;
			};

			/* Create 64Kb of storage for settings */

			storage_partition: partition@100000 {
				label = "storage";
				reg = <0x00100000 DT_SIZE_K(64)>;
			};
		};
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(64)>;
		};

		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 DT_SIZE_K(444)>;
		};
	};
};

&iwdg {
	status = "okay";
};

&rng {
	status = "okay";
};

&adc1 {
	pinctrl-0 = <&adc1_in15_pb0>;
	pinctrl-names = "default";
	st,adc-clock-source = <SYNC>;
	st,adc-prescaler = <4>;
	status = "okay";
};

&die_temp {
	status = "okay";
};

&fdcan2 {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x02000000>,
			 <&rcc STM32_SRC_PCLK FDCAN_SEL(1)>;
	pinctrl-0 = <&fdcan2_rx_pb5 &fdcan2_tx_pb6>;
	pinctrl-names = "default";
	status = "okay";
};

&vref {
	status = "okay";
};

&vbat {
	status = "okay";
};
